:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

.table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 600px;
}

.filter-pill-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-pill {
    border-radius: 25px;
    padding: 0px 15px;
    width: fit-content;
}

.filter-pill:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

.active-filter-pill {
    background-color: #a0a0a0;
    border: 1px solid #a0a0a0;
}

.inactive-filter-pill {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.sort-pill {
    border-radius: 25px;
    padding: 3px 15px;
    width: fit-content;
}

.table-filter-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

thead {
    display: table-header-group;
    text-align: left;
    border-color: inherit;
}

.right-align-column{
    text-align: right;
}

th, td {
    padding: 5px 15px;
    text-align: left;
}

tr:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.pagination-container {
    display: flex;
    list-style-type: none;
  
    .pagination-item {
      padding: 0 12px;
      height: 32px;
      text-align: center;
      margin: auto 4px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      box-sizing: border-box;
      align-items: center;
      letter-spacing: 0.01071em;
      border-radius: 16px;
      line-height: 1.43;
      font-size: 13px;
      min-width: 32px;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
  
      &.selected {
        background-color: rgba(0, 0, 0, 0.08);
      }
  
      .arrow {
        &::before {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: '';
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid rgba(0, 0, 0, 0.87);
          border-top: 0.12em solid rgba(0, 0, 0, 0.87);
        }
  
        &.left {
          transform: rotate(-135deg) translate(-50%);
        }
  
        &.right {
          transform: rotate(45deg);
        }
      }
  
      &.disabled {
        pointer-events: none;
  
        .arrow::before {
          border-right: 0.12em solid rgba(0, 0, 0, 0.43);
          border-top: 0.12em solid rgba(0, 0, 0, 0.43);
        }
  
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
  
